{% extends 'base.html' %}

{% block content %}
<h1>All your meals</h1>
<hr/>

<a href="/meals/create">Add a new meal!</a>
<hr/>
{% for x in meals %}
    <a href="/meals/{{x.id}}">
        <p>On {{x.date}}, you had a {{x.meal}} consisting of 
            {% for y in x.ingredients %}
            {% if y != None %}
            {{y.name}}
            {% elif y == None %}
            Nothing?? U ate nothing for {{x.meal}}?
            {% endif %}
            {% endfor %}
        </p>
    </a>
{% endfor %}

{% endblock %}