{% extends 'base.html' %}

    {% block content %}
    <h1>Meal details</h1>
    <div>
        {{meal.get_meal_display}} on {{meal.date}}
        <ul>
            {% for x in ingredients %}
            {{ x.name }} {{x.meal_id}}
            <li>kcals: {{x.kcals}}</li>
            <li>carbs: {{x.carbs}}</li>
            <li>fats: {{x.fats}}</li>
            <li>sugars: {{x.sugars}}</li>
            <br/>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form method="POST" action="{% url 'add_ingredient' meal.id %}">
            {% csrf_token %}
            {{ ingredient_form.as_p }}
            <input type="submit" value="add ingredient">
        </form>
        <table>
            <thead>
                <tr><th>Date</th><th>Meal</th></tr>
            </thead>
            <tbody>
                {% for ingredient in meal.ingredient_set.all %}
                <tr>
                    <td>{{ingredient.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'meals_update' meal.id %}">Update details</a> <br/>
    <a href="{% url 'meals_delete' meal.id %}">DELETE this meal</a>

{% endblock %}