{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nutrition Tracker</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script defer src="{% static 'app.js' %}"></script> 

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
   
</head>

<body>
  <header>
  </header>  

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy;3-9scripts&nbsp;</div>
  </footer>

</body>
</html>