{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>myDiet</title>
  
  <!-- my stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script defer src="{% static 'app.js' %}"></script> 

  <!-- font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
  
   
</head>

<body> 
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <div class="pseudo_header_container">
    <div class="base_header_text">
      <h1 class="base_title">Nutrition Tracker</h1>
      <p class="base_paragraph">health is wealth</p>
    </div>
    <div class="header_middle_bar"></div>
    <div class="navbar_container">
    <nav>
      <div>
        <a class="nav_buttons" id="navbar_home" href="/">Home</a>
          {% if user.is_authenticated != True %}
            <a class="nav_buttons" id="navbar_signup" href="{% url 'sign_up' %}">Sign Up</a>
            <a class="nav_buttons" id="navbar_login" href="{% url 'login' %}">Log In</a>
          {% else %}
            <a class="nav_buttons" id="navbar_meals" href="/meals">Meals</a>
          {% endif %}
      </div>
    </nav>
    </div>
  </div> 
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy;3-9scripts&nbsp;</div>
  </footer>

</body>
</html>